@{
    ViewBag.Title = "Server Data Operations";
}

<div class="jumbotron" ng-app="migrationApp">
    <h1>Data migration operations</h1>
    <div ng-controller="serverDataCtrl">
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>

